
<div class="banner">
<h1>Welcome to Ali's Cocktails </h1>
<%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary' %>
</div>

<div class="container d-flex justify-content-between flex-wrap">
<% @cocktails.each do |cocktail| %>
<div class="card" style="width: 18rem;">

  <%= cl_image_tag("ft1u98qzfeuzaxpskrq0",
      width: 288, height: 300, crop: :fill) %>
  <div class="card-body">
    <%= link_to cocktail.name, cocktail_path(cocktail) %> <br><br>
    <% cocktail.doses.each do |dose|  %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <% @dose = dose %>
    <% end %>
  </div>
</div>
<% end %>
</div>



